* {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root{
  --color-primary: #000000;
  --color-secondary: #f5b553;
  --color-dark: #670D2F;
  --color-creamy: #FFF2E0;

}

body {
  font-family: "Lora", serif;
  /*transition: all 2s ease-in-out;
  background-color: var(--color-primary);
  color: var(--color-cream-white);*/
}

footer {
  color: var(--color-secondary);
  text-align: center;
  padding: 15px;
}

/*NAVBAR*/

#home-link {
  color: antiquewhite;
}

#home-link.active {
  color: var(--color-secondary);
}

#nav {
  background: var(--color-primary);
  position: fixed;
  z-index : 500;
}

.navbar-brand {
font-size: 35px;
color: var(--color-secondary);
font-style: italic;
font-weight: 600;
}

.navbar-brand:hover {
  color: #FFF2E0;
}

.nav-link {
  font-weight: 500;
}

.navbar-toggler {
  border: none;
  background-color: #f5b553;
  margin-left: 20px;
  font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link:hover, .nav-link.active {
  text-decoration: underline;
  color: var(--color-secondary);
}

section {
  height: 100vh;
  width: 100%;
}

.navbar-buttons {
  color: #f5b553;
}

.nav-link {
  margin-left: 60px;
  font-weight: 500;
  color: antiquewhite;

}

.change-theme {
  margin-left: 60px;
  font-size: 1.25rem;
  line-height: 20px;
}

.offcanvas-title {
  color: antiquewhite;
}

.offcanvas {
  background-color: var(--color-primary);
}

.btn-close {
  background-color: antiquewhite;
}

/*HERO Section*/

#hero-text {
  margin-top: 120px;
}

#hero-image{
  width: 100%;
  height: auto;
  margin-top: 60px;
}

/*About*/
section #about-header {
  margin-top: 80px;
  text-align: center;
}

.about-image {
  @extend #hero-image;
  margin-top: -150px;
}
/*Skills*/



/*Projects*/


/*Contact*/


/*Footer*/
